div#betterCounter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  max-width: 50%;
  margin: auto;
}

div#betterCounter>input {
  grid-column-start: 1;
  grid-column-end: 6;
}

div#converter {
  display: 'flex';
  justify-content: 'center';
}


div#converter>div {
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  max-width: '35%';
}

div#converter label {
  text-align: left;
}


* {
  text-align: center;
}